

<div class="element-body-task" id="task"> 
    <ol class="element-body-task-detail" id="details">
        <li class="element-body-task-detail__header" value="0">Задачи:</li>
    </ol>
    <div class="element-body-task-detail" id="adress">
        <span class="element-body-task-detail__header">Адрес:</span>
    </div>
</div>
