<td class="element-body__cell">
    {{hour}}:00
</td>
<td class="element-body__cell query-hour-{{hour}}" 
    data-name="{{getDateForm date}}">
        {{#each taskList as |task|}}
            {{form-task day=day
                        tasks=(getTask task 
                                       task.date
                                       currentDate  
                                       task.timeStart.hours 
                                       hour)}}
        {{/each}}
</td>
