.form {    
    width: 100%;
    max-width: 1200px;
    
    margin: auto;

    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form__comment {
    display: flex;
    align-items: center;

    height: 30px;

    padding: 10px 10px 10px 20px;
    color: rgb(153, 153, 153);
}
.form-comment_inner {
    padding-left: 0;
    padding-bottom: 0;
}

.form-header {
    display: flex;
    flex-direction: column;

    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.form-header__element {
    margin-bottom: 10px;
}
.form-header__element:last-child {
    margin-bottom: 0;
}
.form-header__element_button {
    max-width: 300px;
    box-sizing: border-box;

    padding:  10px 5px;

    outline: none;
    border: 1px solid rgb(192, 191, 191);
    background: rgb(223, 223, 223);

    color: rgb(88, 88, 88);
    text-transform: uppercase;

    cursor: pointer;
}
.form-header__element_small-button {
    margin-left: 15px;
    text-transform: lowercase;
}
.form-header-errors {
    display: flex;
    align-items: center;

    width: 500px;
    height: 15px;

    padding: 3px 3px 3px 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    background: rgb(255, 240, 240);
    
    color: red;
    font-size: 0.9em;

    transition-duration: 0.3s;
}
.form-header-errors_none {
    height: 0;
    background: transparent;
}

.form-body {
    display: flex;
    flex-direction: column;

    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.form-body__element {
    width: 100%;

    margin-bottom: 20px;

    background: rgb(205, 227, 249);
}
.form-body__element_last {
    background: rgb(221, 221, 221);
    color: rgb(68, 68, 68);
}
.form-body__element_current {
    background: rgb(212, 241, 192);
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.element-header {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.element-header__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 30px;

    margin-right: 10px;
    padding: 5px 10px;

    background: rgb(187, 206, 224);
}
.element-header__cell:last-child {
    margin-right: 0;
}
.form-body__element_last .element-header__cell {
    background: rgb(196, 196, 196);
}
.form-body__element_current .element-header__cell {
    background: rgb(186, 223, 161);
}

.element-header__cell_total-tasks {
    margin-left: auto;
}

.element-body {
    width: 100%;
    align-items: center;
}

.element-body__cell {
    position: relative;
    height: 30px;
    box-sizing: border-box;

    background: rgb(187, 206, 224);

    text-align: center;
    user-select: none;
}
.element-body__cell:first-child {
    width: 100px;
    box-sizing: border-box;
}
.form-body__element_last .element-body__cell {
    background: rgb(196, 196, 196);
}
.form-body__element_current .element-body__cell {
    background: rgb(186, 223, 161);
}
.element-header__cell-content {
    margin-left: 5px;
}

.element-body-task {
    position: absolute;
    top: 0;
    left: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 80%;    
    overflow: hidden;
    box-sizing: border-box;

    margin-bottom: 10px;
    padding: 5px 30px 10px 10px;

    background: white; 
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
    
    cursor: pointer;
    user-select: none;
    transition-duration: 0.3s;
}
.element-body-task_resize {
    z-index: 2;
    height: 30px;
}
.element-body-task_open {
    z-index: 100;
    height: auto;
}
.element-body-task_not-table {
    position: static;
}
.element-body-task_resize:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 10px;

    background: linear-gradient(rgba(128, 128, 128, 0) 0%, white 50%);
}
.element-body-task_resize:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 10;

    width: 20px;
    height: 100%;

    background: white url('/assets/images/double-bottom.png') no-repeat 50% 10px;
    background-size: 100% auto;
}
.element-body-task_open:after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 10;

    width: 20px;
    height: 20px;

    background: white url('/assets/images/double-top.png') no-repeat 50% 50%;
    background-size: 100% auto;
}

.element-body-task-detail {
    width: 100%;

    margin: 0 0 5px 0;
    text-align: left;

    border-radius: 5px;
}
.element-body-task-detail__element {
    margin-left: 15px;
}
.element-body-task-detail_list {
    padding-left: 10px;
}

.element-body-task-detail__header {
    margin-bottom: 5px;
    font-weight: bold;
    list-style-type: none;
}

.form-footer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.form-footer__title {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(219, 219, 219);
}
.form-footer__button {
    margin-top: 10px;
}